.houses-list {
  padding: 0;
}

main {
  background-color: $background-1;
  padding: 20px 10vw;
  max-width: 100%;
  @media (max-width: 1024px) {
    padding: 50px 5vw;
  }
}

h1 {
  margin-top: 130px;
  //change fontsize for mobile
  @media (max-width: 1024px) {
    font-size: $h1-font-size-mobile;
    margin-top: unset;
    margin-bottom: 20px;
    text-align: center;
  }
}
