.houses-list {
  padding: 0;
}

main {
  background-color: $background-1;
  padding: 20px 10vw;
  max-width: 100%;
  .separator {
   @include separator
  }
  @include mobile {
    padding: 40px 5vw;
  }
  display: flex;
  flex-direction: column;
  gap: 20px;

  .buttons-container {
    @include desktop {
      //make buttons align right
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }
  }
}

h1 {
  @include header1;
}

h2 {
  @include header2;
}
