.search-form {
  div {
    display: flex;
    max-width: 100%;
    position: relative;
  }
  .search-icon {
    width: 15px;
    height: 15px;
    position: absolute;
    left: 20px;
    top: 10px;
    @include mobile {
      top: 10px;
    }
  }

  input {
    @include input-field;
    display: flex;
    flex: 1 1 auto;
    width: 0;
    @include desktop {
      min-width: 20vw;
    }
  }

  .close-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    img {
      width: 18px;
      height: 18px;
    }
    position: absolute;
    right: 20px;
    top: 5px;
    @include mobile {
      right: 20px;
      top: 3px;
    }
  }
}
