.sort-buttons {
  width: 100%;
  height: 36px;
  margin: 10px 0;
  @include desktop {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  button {
    @include button-tab;
    &:first-of-type {
      border-bottom-right-radius: unset;
      border-top-right-radius: unset;
    }
    &:last-of-type {
      border-bottom-left-radius: unset;
      border-top-left-radius: unset;
    }
    @include desktop {
      max-width: 10vw;
    }
  }
}
